#Nav-bar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#button {
  /* background-color: aqua; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
