#UserCard {
  display: flex;
  align-items: center;
  justify-content: space-;
  height: 40px;
}

/* body {
  background-color: pink;
} */
#UserCard img {
  width: 50px;
  margin-right: 9px;
  border-radius: 0px;
  mix-blend-mode: multiply;
}

#Nav-bar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#todoCard {
  max-width: 150px;
  max-height: 100px;

  border-radius: 10px;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px 10px;
}
#mainBody {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
